{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Fruity Css Styles -->
    <!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'fruity/img/favicon-1.jpg'%}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'fruity/css/all.min.css'%}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'fruity/bootstrap/css/bootstrap.min.css'%}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'fruity/css/owl.carousel.css'%}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'fruity/css/magnific-popup.css'%}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'fruity/css/animate.css'%}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'fruity/css/meanmenu.min.css'%}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'fruity/css/main.css'%}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'fruity/css/responsive.css'%}">


    <!-- Ogani Css Styles -->
    <link rel="stylesheet" href="{% static 'ogani/css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'ogani/css/font-awesome.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'ogani/css/elegant-icons.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'ogani/css/nice-select.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'ogani/css/jquery-ui.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'ogani/css/owl.carousel.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'ogani/css/slicknav.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'ogani/css/style.css'%}" type="text/css">
</head>
<body>


    {% include 'includes/navbar.html'%}
    {% block content %}

    {% endblock %}
    {% include 'includes/footer.html'%}

<!-- Js Plugins -->
    <!-- Js Plugins -->
    <script src="{% static 'ogani/js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'ogani/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'ogani/js/jquery.nice-select.min.js'%}"></script>
    <script src="{% static 'ogani/js/jquery-ui.min.js'%}"></script>
    <script src="{% static 'ogani/js/jquery.slicknav.js'%}"></script>
    <script src="{% static 'ogani/js/mixitup.min.js'%}"></script>
    <script src="{% static 'ogani/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'ogani/js/main.js'%}"></script>
    <!-- jquery -->
	<script src="{% static 'fruity/js/jquery-1.11.3.min.js'%}"></script>
	<!-- bootstrap -->
	<script src="{% static 'fruity/bootstrap/js/bootstrap.min.js'%}"></script>
	<!-- count down -->
	<script src="{% static 'fruity/js/jquery.countdown.js'%}"></script>
	<!-- isotope -->
	<script src="{% static 'fruity/js/jquery.isotope-3.0.6.min.js'%}"></script>
	<!-- waypoints -->
	<script src="{% static 'fruity/js/waypoints.js'%}"></script>
	<!-- owl carousel -->
	<script src="{% static 'fruity/js/owl.carousel.min.js'%}"></script>
	<!-- magnific popup -->
	<script src="{% static 'fruity/js/jquery.magnific-popup.min.js'%}"></script>
	<!-- mean menu -->
	<script src="{% static 'fruity/js/jquery.meanmenu.min.js'%}"></script>
	<!-- sticker js -->
	<script src="{% static 'fruity/js/sticker.js'%}"></script>
	<!-- main js -->
	<script src="{% static 'fruity/js/main.js'%}"></script>




</body>







	